node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

# NodeJS
/backoffice/pnpm-workspace.yaml

# Excluded Data
ecosystem.config.js
/backoffice/uploads
/backoffice/uploads/*
